[submodule "awesome-sysadmin"]
	path = awesome-sysadmin
	url = https://github.com/kahun/awesome-sysadmin.git
[submodule "BSD-Links"]
	path = BSD-Links
	url = https://github.com/DiscoverBSD/BSD-Links.git
[submodule "awesome-dotfiles"]
	path = awesome-dotfiles
	url = https://github.com/webpro/awesome-dotfiles.git
